#page1{
	background-image: url(../img/mikayla-mallek-219946.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#page1 small{
	color:#0c718a;
}

#page3 img{
	max-height: 262.5px;
	max-width: 80%;
}
#page4 .box img{
	min-height: 200px;
}
#page6 .contact i{
	font-size: 6rem;
}
#page6 .social i{
	margin-top: 30px;
	font-size: 4rem;
	color:#0c718a;
}
#page6 .copyright{
	margin-top: 150px;
}

